<mat-toolbar>
    <span>Control de Presupuesto</span>
    <div style="float:right; margin-left:auto; ">
        <span>{{username}}</span>
        <button mat-icon-button class="logout-icon" matTooltip="Salir" (click)="salir()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
    
</mat-toolbar>
<mat-tab-group>
    <mat-tab label="Presupuesto"><br><app-presupuesto></app-presupuesto></mat-tab>
    <mat-tab label="Categorías"><br><app-categoria></app-categoria></mat-tab>
    <mat-tab label="Gastos"><br><app-gasto></app-gasto></mat-tab>
    <mat-tab label="Balance"><br><app-balance></app-balance></mat-tab>
</mat-tab-group>
