<div class="container">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="formGasto" #formDirective="ngForm" (ngSubmit)="guardar()">
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre del Gasto" [(ngModel)]="gasto.nombre" formControlName="nombre">
                </div>
                <div class="mb-3">
                    <select class="form-select" [(ngModel)]="gasto.categoria" formControlName="categoria">
                        <option selected>Seleccione Categoría</option>
                        <option *ngFor="let aux of categoriaList" value="{{aux.id}}">{{aux.nombre}}</option>
                      </select>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Monto" [(ngModel)]="gasto.valor" formControlName="valor">
                </div>
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <table class="table table-striped mb-3">
                <thead>
                    <th class="fs-5">Nombre</th>
                    <th class="fs-5">Categoría</th>
                    <th class="fs-5">Monto</th>
                    <th style="width:'6%'" colspan="2" class="fs-5">Opciones</th>
                </thead>
                <tbody *ngFor="let element of gastoList">
                    <td class="fs-5">{{element.nombre}}</td>
                    <td class="fs-5">{{element.categoria}}</td>
                    <td class="fs-5">{{element.valor | currency}}</td>
                    <td class="text-center"><button type="button" class="btn btn-outline-warning" style="padding: 3px;" (click)="editar(element)"><i class="fa-solid fa-pencil-square"></i></button></td>
                    <td class="text-center"><button type="button" class="btn btn-outline-danger" style="padding: 3px;" (click)="borrar(element)"><i class="fa-solid fa-trash"></i></button></td>
                </tbody>
            </table>
        </div>
    </div>
</div>
